<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>{{title}}</h1>
</header>

<main>

  <section>
    <header><h2>Install</h2></header>
      <article>
        <p>1. Install from NPM</p>
        <pre><code>npm install ngx-modal --save</code></pre>
      </article>
      <article>
        <p>2.Add to import Modules and Add to entry entryComponents in @NgModules, the modules that you want to put inside the modal.</p>
        <pre>
          <code>
@NgModule({{ '{' }}
  declarations: [
    AppComponent,
    SampleModalComponent,
  ],
  entryComponents: [
    SampleModalComponent
  ],
  imports: [
    BrowserModule,
    FormsModule,
    NgxModalModule,
  ],
  providers: [],
  bootstrap: [AppComponent]
})
        </code>
        </pre>
      </article>
      <article>
        <p>3. Import your Service in a component and Create a new Modal.</p>
        <pre>
          <code>
export class AppComponent {{ '{' }}

  constructor(private modalService: NgxModalService) {{ '{' }}

  }

  openModal(){{ '{' }}
    const params = {{ '{' }}};
    this.modalService.create(SampleModalComponent, params).then((modal: NgxModal) => {{ '{' }}
      modal.open();
    });
  }

}
        </code>
        </pre>
        <p>in params, you can add all params that you have into your component for init with values.</p>
      </article>
  </section>
  <section>
      <header>
        <h2>Examples</h2>
        <p><a target="_blank" href="https://github.com/kappys1/ngx-modal/blob/master/src/app/app.component.ts">see code here.</a></p>
      </header>
      <article>
        <h3>Sample Modal</h3>
        <button (click)="openSampleModal()">Open Modal</button>
      </article>
      <article>
        <h3>Sample Modal Without destroy</h3>
        <button (click)="openModalWithoutDestroy()">Open Modal</button>
      </article>
      <article>
        <p>You can see all modal params <a target="_blank" href="https://github.com/kappys1/ngx-modal/wiki/Modal-Params">here</a></p>
        <h3>Close background</h3>
        <button (click)="openBackdropModal()">Open Modal</button>
      </article>
      <article>
        <h3>Events</h3>
        <p>You can see all events <a target="_blank" href="https://github.com/kappys1/ngx-modal/wiki/Events">here</a></p>
        <button (click)="openEventsModal()">Open Modal</button>
      </article>
      <article>
        <h3>Pass Parameters</h3>
        <input [(ngModel)]="inputValue">
        <button (click)="openCheckbutton()">Open Modal</button>
      </article>
      <article>
        <h3>Animation Modal</h3>
        <button (click)="openAnimation()">Open Modal</button>
      </article>
  </section>
</main>
<footer>
  {{year}} © Angular 2 carousel
</footer>







