<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>{{title}}</h1>
</header>

<main>
  <section>
      <header>
          <h2>Install</h2>
          <pre><code>npm install ngx-modal --save</code></pre>
      </header>
  </section>
  <section>
      <header>
          <h2>Documentation</h2>
          <p><a target="_blank" href="https://github.com/kappys1/ngx-modal">here.</a></p>
      </header>
  </section>
  <section>
      <header>
        <h2>Examples</h2>
        <p><a target="_blank" href="https://github.com/kappys1/ngx-modal/blob/master/src/app/app.component.ts">see code here.</a></p>
      </header>
      <article>
        <h3>Sample Modal</h3>
        <button (click)="openSampleModal()">Open Modal</button>
      </article>
      <article>
        <h3>Sample Modal Without destroy</h3>
        <button (click)="openModalWithoutDestroy()">Open Modal</button>
      </article>
      <article>
        <p>You can see all modal params <a target="_blank" href="https://github.com/kappys1/ngx-modal/wiki/Modal-Params">here</a></p>
        <h3>Close background</h3>
        <button (click)="openBackdropModal()">Open Modal</button>
      </article>
      <article>
        <h3>Events</h3>
        <p>You can see all events <a target="_blank" href="https://github.com/kappys1/ngx-modal/wiki/Events">here</a></p>
        <button (click)="openEventsModal()">Open Modal</button>
      </article>
      <article>
        <h3>Pass Parameters</h3>
        <input [(ngModel)]="inputValue">
        <button (click)="openCheckbutton()">Open Modal</button>
      </article>
      <article>
        <h3>Animation Modal</h3>
        <button (click)="openAnimation()">Open Modal</button>
      </article>
  </section>
</main>
<footer>
  {{year}} © {{title}}
</footer>







